body{
    display: flex;
    justify-content: center;
    align-items: center;    
}

div{
    font-size: 18px;
    width: 500px;
    height: 500px;
    background-color: grey;
    text-align: center;
    line-height: 500px;
}